<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CA User Home</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        form {
            width: 50vh;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center; /* !!! */
        }

        button {
          background-color: cornflowerblue;
          color: white;
          padding: 20px 40px;
          margin: 20px 0;
          border: none;
          cursor: pointer;
          width: 50%;
        }

        button_logout {
          background-color: indianred;
          color: white;
          padding: 20px 40px;
          margin: 20px 0;
          border: none;
          cursor: pointer;
          width: 50%;
        }

        button:hover {
          opacity: 0.6;
        }

        .container {
          padding: 5px;
        }

        table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          border: 3px solid darkmagenta;
        }

        thead th:nth-child(1) {
          width: 30%;
        }

        thead th:nth-child(2) {
          width: 20%;
        }

        thead th:nth-child(3) {
          width: 15%;
        }

        thead th:nth-child(4) {
          width: 35%;
        }

        th, td {
          padding: 20px;
        }

    </style>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">CA Web Application</a>
        </ul>
    </nav>

    <div style="width:800px; margin:0 auto;">
        <h1>Hi Admin, how can we help you?</h1>

        <div class="container">
            <!-- TODO: hard-coded, need to define logic -->
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Number of Certificates Issued</td>
                    <td>{{ admin_dict.serial }}</td>
                </tr>
                <tr>
                    <td>Number of Certificates Revoked</td>
                    <td>{{ admin_dict.revoked }}</td>
                </tr>
                <tr>
                    <td>Serial Number</td>
                    <td>{{ admin_dict.serial }}</td>
                </tr>
            </table>
        </div>

        <div class="container">
            <button type="button" onclick="if (confirm('Are you sure you wish to request a new certificate?')) { window.location.href='{{ url_for( 'request_certificate' ) }}'; }">Request A Certificate</button>
        </div>
        <div class="container">
            <button type="button" onclick="window.location.href='{{ url_for( 'manage_certificates' ) }}';">Manage Certificates</button>
        </div>
        <div class="container">
            <button type="button" onclick="window.location.href='{{ url_for( 'view_revoked_certificates' ) }}';">View Revoked Certificates</button>
        </div>
        <div class="container">
            <button type="button" onclick="window.location.href='{{ url_for( 'edit_profile' ) }}';">Edit My Profile</button>
        </div>
        <div class="container">
            <button type="button" onclick="if (confirm('Are you sure you wish to update the CA certificate?')) { window.location.href='{{ url_for( 'get_update_ca_cert' ) }}'; }">Update CA Certificate</button>
        </div>
        <div class="container">
            <button_logout type="button" onclick="window.location.href='{{ url_for( 'logout' ) }}';">Log out</button_logout>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!--JS code here-->
</body>

</html>