<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CA Login Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        form {
            width: 50vh;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center;
            /* !!! */
        }

        button_login {
            background-color: green;
            color: white;
            padding: 20px 40px;
            margin: 20px 20px;
            border: none;
            cursor: pointer;
            width: 50%;
        }

        button_login:hover {
            opacity: 0.6;
        }

        input[type=text],
        input[type=password] {
            width: 50%;
            padding: 20px 40px;
            margin: 20px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .container {
            padding: 5px;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">CA Web Application</a>
        </ul>
    </nav>

    <div style="width:800px; margin:0 auto;">
        <h1>Welcome to CA! Please login.</h1>

        <div class="container">
            <h3>Please upload your certificate : )</h3>
        </div>

        <div class="container">
            <input type="file" id="avatar" name="avatar" accept=".p12, .pfx">
        </div>

        <div class="container">
            <!-- TODO: button login logic -->

            <!-- <button_login type="button" onclick="window.location.href='{{ url_for( 'user_home' ) }}';">Login</button_login> -->
            <button_login type="button" id="btn_login">Login</button_login>
        </div>

        <div class="container">
            <a href='{{ url_for( 'login_credential') }}'>I wish to use my credentials to sign in</a>
        </div>
    </div>

    {% if error %}
    <p class="error" style="color:red"><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/forge.min.js') }}"></script>
    <script>
        var user_priv_key;
        // var cert;
        var serial_number;
        var pkcs12;
        document.getElementById("avatar")
            .addEventListener("change", function selectedFileChanged() {
                console.log(this.files);
                const reader = new FileReader();
                reader.onload = fileReadCompleted;
                reader.readAsArrayBuffer(this.files[0])
            })
        var btn_sign = document.getElementById("btn_login")
        btn_sign.onclick = function () {
            // console.log(user_priv_key);
            let msg = JSON;
            msg["serial"] = serial_number;
            const d = new Date();
            msg["time"] = d.getTime();
            let nonce = new Uint8Array(64);
            crypto.getRandomValues(nonce);
            msg["nonce"] = forge.util.encode64(arrayBufferToString(nonce));
            crypto.subtle.sign(
                { name: "RSASSA-PKCS1-v1_5" },
                user_priv_key,
                stringToArrayBuffer(JSON.stringify(msg))
                // nonce
                // stringToArrayBuffer("123456")
            ).then(function (signature) {
                // console.log(signature)
                let xhr = new XMLHttpRequest();
                let url = "login_certificate";
                xhr.open("POST", url)
                xhr.setRequestHeader("Content-Type", "application/json");
                // let data = JSON.stringify({
                //     "nonce": forge.util.encode64(arrayBufferToString(nonce)),
                //     "signature": forge.util.encode64(arrayBufferToString(signature)),
                //     "serial": serial_number,
                //     // "certificate": cert,
                // })
                let data = JSON.stringify({
                    "msg": msg,
                    "signature": forge.util.encode64(arrayBufferToString(signature))
                });
                xhr.send(data);
                xhr.onload = function () {
                    if (xhr.responseURL.search("login_certificate") >= 0) {
                        alert("Invalid certificate! Please use another one!");
                        window.location.href = xhr.responseURL;
                    } else {
                        window.location.href = xhr.responseURL;
                    }
                };
            })
        };

        function fileReadCompleted(e) {
            // console.log(reader.result);
            let contents = e.target.result;
            let pkcs12Der = arrayBufferToString(contents);
            let pkcs12B64 = forge.util.encode64(pkcs12Der);
            let pkcs12Asn1 = forge.asn1.fromDer(pkcs12Der);
            pkcs12 = forge.pkcs12.pkcs12FromAsn1(pkcs12Asn1, false, "");
            let privateKey;
            for (let sci = 0; sci < pkcs12.safeContents.length; ++sci) {
                let safeContents = pkcs12.safeContents[sci];
                for (let sbi = 0; sbi < safeContents.safeBags.length; ++sbi) {
                    let safeBag = safeContents.safeBags[sbi];
                    // this bag has a private key
                    if (safeBag.type === forge.pki.oids.keyBag) {
                        //Found plain private key
                        privateKey = safeBag.key;
                    } else if (safeBag.type === forge.pki.oids.pkcs8ShroudedKeyBag) {
                        // found encrypted private key
                        privateKey = safeBag.key;
                    } else if (safeBag.type === forge.pki.oids.certBag && sbi == 0) {
                        // this bag has a certificate...        
                        // cert = safeBag.key;
                        // console.log(forge.pki.certificateToAsn1Pem(cert))
                        // cert = safeBag.asn1;
                        // console.log(cert);
                        let cert = forge.pki.certificateFromAsn1(safeBag.asn1);
                        serial_number = cert.serialNumber;
                        // cert = forge.pki.certificateToPem(cert_asn);
                        // console.log(cert_asn);
                    }
                }
            }
            _importCryptoKeyPkcs8(privateKey, false).
                then(function (cryptoKey) {
                    //your cryptokey is here!!!
                    user_priv_key = cryptoKey;
                });
        };

        function arrayBufferToString(buffer) {
            let binary = '';
            let bytes = new Uint8Array(buffer);
            let len = bytes.byteLength;
            for (let i = 0; i < len; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return binary;
        }

        function _privateKeyToPkcs8(privateKey) {
            let rsaPrivateKey = forge.pki.privateKeyToAsn1(privateKey);
            let privateKeyInfo = forge.pki.wrapRsaPrivateKey(rsaPrivateKey);
            let privateKeyInfoDer = forge.asn1.toDer(privateKeyInfo).getBytes();
            let privateKeyInfoDerBuff = stringToArrayBuffer(privateKeyInfoDer);
            return privateKeyInfoDerBuff;
        }

        function stringToArrayBuffer(data) {
            let arrBuff = new ArrayBuffer(data.length);
            let writer = new Uint8Array(arrBuff);
            for (let i = 0, len = data.length; i < len; i++) {
                writer[i] = data.charCodeAt(i);
            }
            return arrBuff;
        }

        function _importCryptoKeyPkcs8(privateKey, extractable) {
            let privateKeyInfoDerBuff = _privateKeyToPkcs8(privateKey);

            //Import the webcrypto key
            return crypto.subtle.importKey(
                'pkcs8',
                privateKeyInfoDerBuff,
                { name: "RSASSA-PKCS1-v1_5", hash: { name: "SHA-256" } },
                extractable,
                ["sign"]);
        }
    </script>
    <!--JS code here-->
</body>

</html>