<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CA Login Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        form {
            width: 50vh;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center; /* !!! */
        }

        button {
          background-color: green;
          color: white;
          padding: 20px 40px;
          margin: 20px 20px;
          border: none;
          cursor: pointer;
          width: 50%;
        }

        button:hover {
          opacity: 0.6;
        }

        input[type=text], input[type=password] {
          width: 50%;
          padding: 20px 40px;
          margin: 20px 0;
          display: inline-block;
          border: 1px solid #ccc;
          box-sizing: border-box;
        }

        .container {
          padding: 5px;
        }


    </style>

</head>

<body onload="clearInput(this)">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">CA Web Application</a>
        </ul>
    </nav>

    <div style="width:800px; margin:0 auto;">
        <h1>Welcome to CA! Please login.</h1>

        <div class="container">
            <h3>Please enter your credentials : )</h3>
        </div>

{#        <form action="" method="post">#}
{#                <label for="uname"><b>Username</b></label>#}
{#                <input type="text" placeholder="Enter Username" name="username" id="uid" value="{{ request.form.username }}" required>#}
{#                <label for="psw"><b>Password</b></label>#}
{#                <input type="password" placeholder="Enter Password" name="password" id="pwd" value="{{ request.form.password }}"required>#}
{#                <button_login type="submit" onclick="hashPassword(this);">Login</button_login>#}
{#        </form>#}

        <form class="container" name="myForm" id="myForm" action="" method="post" onsubmit="hashPassword(this)">

            <div>
                <label><b>Username</b></label>
                <input type="text" placeholder="Username" name="uid" id="uid" value="{{ request.form.uid }}">
            </div>

            <div>
                <label><b>Password</b></label>
                <input type="password" placeholder="Password" name="password" id="pwd" value="{{ request.form.password }}">
            </div>


            <div>
                <button type="submit">Login</button>
            </div>
        </form>

        <div class="container">
            <a href='{{ url_for( 'login_certificate') }}' type="submit">I wish to use a certificate to sign in</a>
        </div>

        {% if error %}
            <p class="error" style="color:red"><strong>Error:</strong> {{ error }}
        {% endif %}

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type='text/javascript' src="{{ url_for('static', filename='js/sha.js') }}"></script>

    <script>
        function hashPassword(obj) {
            var pwdObj = document.getElementById('pwd');
            var hashedObj = new jsSHA("SHA-1", "TEXT", {numRounds: 1});
            hashedObj.update(pwd.value);
            var hashed = hashedObj.getHash("HEX");
            document.myForm.password.value = hashed;
            return true;
        }
        function clearInput(obj) {
            document.myForm.uid.value = "";
            document.myForm.password.value = "";
            return true;
        }
    </script>
    <!--JS code here-->
</body>

</html>