<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CA Certificate Management</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <style>
        form {
            width: 50vh;
        }

        body {
            margin: 0;
            padding: 0;
            text-align: center; /* !!! */
        }

        button {
          background-color: red;
          color: white;
          padding: 5px 5px;
          margin: 0px 0;
          border: none;
          cursor: pointer;
          width: 50%;
        }

        button_back {
          background-color: darkgray;
          color: white;
          padding: 20px 20px;
          margin: 10px 10px;
          border: none;
          cursor: pointer;
          width: 50%;
        }

        button:hover {
          opacity: 0.6;
        }

        button_back:hover {
          opacity: 0.6;
        }

        .container {
          padding: 5px;
        }

        table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          border: 3px solid darkmagenta;
        }

        thead th:nth-child(1) {
          width: 30%;
        }

        thead th:nth-child(2) {
          width: 20%;
        }

        thead th:nth-child(3) {
          width: 15%;
        }

        thead th:nth-child(4) {
          width: 35%;
        }

        th, td {
          padding: 20px;
        }


    </style>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="#">CA Web Application</a>
        </ul>
    </nav>

    <div style="width:800px; margin:0 auto;">
        <h1>All Revoked Certificates</h1>

        <div class="container">
            <table>
                <tr>
                    <th>Serial Number</th>
                    <th>Date Expiration</th>
                    <th>Date Revoked</th>
                </tr>
                {% for revoked_certificate in revoked_certificates %}
                <tr>
                    <td>{{ revoked_certificate.serial }}</td>
                    <td>{{ revoked_certificate.expired_date }}</td>
                    <td>{{ revoked_certificate.revoked_date }}</td>
                </tr>
                {%  endfor %}
            </table>
        </div>

        <div class="container">
            <button_back type="button" onclick="window.location.href='{{ url_for( 'home' ) }}';">Go Back</button_back>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!--JS code here-->
</body>

</html>